<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="../../public/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="../../public/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../../public/css/argon-dashboard.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="/dashboard">
        <img src="../../public/img/brand/blue.png" class="navbar-brand-img" alt="...">
      </a>
       <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="../../public/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item {{dashActive}}">
          <a class=" nav-link {{dashActive}}" href="/dashboard"> <i class="ni ni-tv-2 text-primary"></i> Dashboard
            </a>
          </li>
          <li class="nav-item {{transActive}}">
            <a class="nav-link {{transActive}}" href="/transaction">
              <i class="ni ni-planet text-blue "></i> Add Transaction
            </a>
          </li>
          <li class="nav-item {{sendActive}}">
            <a class="nav-link {{sendActive}}" href="/send">
              <i class="ni ni-pin-3 text-orange"></i> Send Money
            </a>
          </li>
          <li class="nav-item {{reqActive}}">
            <a class="nav-link {{reqActive}}" href="/request">
              <i class="ni ni-single-02 text-yellow"></i> Request Money
            </a>
          </li>
          <li class="nav-item {{recentActive}}">
            <a class="nav-link {{recentActive}}" href="/recentTransactions">
              <i class="ni ni-bullet-list-67 text-red"></i> Recent Transaction
            </a>
          </li>
          <li class="nav-item {{viewActive}}">
            <a class="nav-link {{viewActive}}" href="/statement">
              <i class="ni ni-key-25 text-info"></i> View Statement
            </a>
          </li>
          <li class="nav-item {{pendingActive}}">
            <a class="nav-link {{pendingActive}}" href="dashboard/pending">
              <i class="ni ni-circle-08 text-pink"></i> Pending Requests
            </a>
          </li>
          <li class="nav-item {{budgetActive}}">
            <a class="nav-link {{budgetActive}}" href="/budget">
              <i class="ni ni-circle-08 text-pink"></i> Add Budget
            </a>
          </li>
          <li class="nav-item {{viewBudActive}}">
            <a class="nav-link {{viewBudActive}}" href="/budget/my-budget">
              <i class="ni ni-circle-08 text-pink"></i> View Budget
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="ni ni-circle-08 text-pink"></i> Logout
            </a>
          </li>
          <li class="nav-item">
            <form action="/dashboard/{{userInfo._id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" type="button" class="btn btn-warning" >Delete my account</button>
            </form>
          </li>
        </ul>
        <ul class="navbar-nav ">
          <li class="nav-item {{signupActive}}" id="signup">
            <a class="nav-link {{signupActive}}" href="/signup">
              <i class="ni ni-circle-08 text-pink"></i> Signup
            </a>
          </li>
          <li class="nav-item {{loginActive}}" id="login">
            <a class="nav-link {{loginActive}}" href="/login">
              <i class="ni ni-circle-08 text-pink"></i> Login
            </a>
          </li>
        </ul>
      </div>
        
        <!-- Divider -->
        <hr class="my-3">
      </div>
    </div>
    </nav>
    <div class="main-content">
      {{#if userInfo}}
        <!-- Navbar -->
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./index.html">Dashboard</a>
            <!-- User -->
            <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="media align-items-center">
                        <div class="media-body ml-2 d-none d-lg-block">
                        <span class="mb-0 text-sm  font-weight-bold">Welcome {{userInfo.fName}} {{userInfo.lName}}!</span>
                        </div>
                    </div>
                </a>
            </li>
            </ul>
        </div>
        </nav>
        <!-- End Navbar -->
        {{/if}}
        <!-- Header -->
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    {{{body}}}
                </div>
            </div>
        </div>
    </div>
    <!--   Core   -->
    <script src="./assets/js/plugins/jquery/dist/jquery.min.js"></script>
    <script src="./assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>