<h2 class="display-2 text-white font-weight-bold">My Budget</h2>
<p class="text-white heading-small text-sm font-weight-bold">Grocery: {{budgetInfo.budgetValues.grocery}}</p>
<p class="text-white heading-small text-sm font-weight-bold">Entertainment: {{budgetInfo.budgetValues.entertainment}}</p>
<p class="text-white heading-small text-sm font-weight-bold">Eating out: {{budgetInfo.budgetValues.eatingOut}}</p>
<p class="text-white heading-small text-sm font-weight-bold">Bills: {{budgetInfo.budgetValues.bills}}</p>
<p class="text-white heading-small text-sm font-weight-bold">Savings: {{budgetInfo.budgetValues.savings}}</p>
<p class="text-white heading-small text-sm font-weight-bold">Miscellaneous: {{budgetInfo.budgetValues.misc}}</p>
<p class="text-white heading-small text-sm font-weight-bold">Transportation: {{budgetInfo.budgetValues.transportation}}</p>
<p class="text-white heading-small text-sm font-weight-bold">Departmental store: {{budgetInfo.budgetValues.departmentalStore}}</p>