<h2>My Budget</h2>
<p>Grocery: {{budgetInfo.budgetValues.grocery}}</p>
<p>Entertainment: {{budgetInfo.budgetValues.entertainment}}</p>
<p>Eating out: {{budgetInfo.budgetValues.eatingOut}}</p>
<p>Bills: {{budgetInfo.budgetValues.bills}}</p>
<p>Savings: {{budgetInfo.budgetValues.savings}}</p>
<p>Miscellaneous: {{budgetInfo.budgetValues.misc}}</p>
<p>Transportation: {{budgetInfo.budgetValues.transportation}}</p>
<p>Departmental store: {{budgetInfo.budgetValues.departmentalStore}}</p>

<a href="/dashboard"> Dashboard </a>