{{#if splitPending}}
    {{#if error}}
        <p class="{{class}}">{{error}}</p>
    {{/if}}
    <h2>Split Requests</h2>
    <ol>
        {{#each splitPending}}
        <li>
            Amount: {{splitAmount}}
            <a href="/transaction/splitAccept/{{_id}}">Pay</a>
            <a href="/transaction/splitDecline/{{_id}}">Cancel</a>
        </li>
        {{/each}}
    </ol>
{{/if}}
{{#if requestPending}}
    {{#if error}}
        <p class="{{class}}">{{error}}</p>
    {{/if}}
    <h2>Requested Money</h2>
    <ol>
        {{#each requestPending}}
        <li>
            Amount: {{amount}}
            <a href="/request/accept/{{_id}}">Pay</a>
            <a href="/request/decline/{{_id}}">Cancel</a>    
        </li>
        {{/each}}
    </ol>
{{/if}}
<a href="/dashboard">Dashboard</a>