<h1 class="display-2 text-white font-weight-bold">Statement</h1>

{{#if creditDebit}}
<h3 class="text-white font-weight-bold">Credit, Debit Transactions</h3>
    
    <ul class="list-unstyled">
        {{#each creditDebit}}
        <div class="card card-stats col-md-6 mb-4 mb-lg-0 mt-3 mb-3">
            <div class="card-body">
                <li class="text-muted heading-small text-sm">
                    Transaction Name: {{transactionName}}
                    <br/>
                    Amount: <span class="font-weight-bold text-primary">{{amount}}</span>
                    <br/>
                    Type: {{type}}
                    <br/>
                    Category: {{category}}
                    <br/>
                    Date: {{date_time}}
                    <br>
                </li>
            </div>
        </div>
        {{/each}}
    </ul>
{{/if}}

{{#if sender}}
<h3 class="text-white font-weight-bold">Sent Money</h3>
    <ul class="list-unstyled">
        {{#each sender}}
        <div class="card card-stats col-md-6 mb-4 mb-lg-0 mt-3 mb-3">
            <div class="card-body">
                <li class="text-muted heading-small text-sm">
                    Remark: {{remark}}
                    <br/>
                    Amount: <span class="text-danger font-weight-bold">{{amount}}</span>
                    <br/>
                    Sent to: {{receiverName}}
                    <br/>
                    Date: {{date_time}}
                    <br>
                </li>
            </div>
        </div>
        {{/each}}
    </ul>
{{/if}}

{{#if receiver}}
<h3 class="text-white font-weight-bold">Received Money</h3>
    <ul class="list-unstyled">
        {{#each receiver}}
        <div class="card card-stats col-md-6 mb-4 mb-lg-0 mt-3 mb-3">
            <div class="card-body">
                <li class="text-muted heading-small text-sm">
                    Remark: {{remark}}
                    <br/>
                    Amount: <span class="text-success font-weight-bold">{{amount}}</span>
                    <br/>
                    Sent by: {{senderName}}
                    <br/>
                    Date: {{date_time}}
                    <br>
                </li>
            </div>
        </div>
        {{/each}}
    </ul>
{{/if}}

{{#if requester}}
<h3 class="text-white font-weight-bold">Requested Money</h3>
    <ul class="list-unstyled">
        {{#each requester}}
        <div class="card card-stats col-md-6 mb-4 mb-lg-0 mt-3 mb-3">
            <div class="card-body">
                <li class="text-muted heading-small text-sm">
                    Remark: {{remark}}
                    <br/>
                    Amount: <span class="text-success font-weight-bold">{{amount}}</span>
                    <br/>
                    Granted by: {{granterName}}
                    <br/>
                    Date: {{date_time}}
                    <br>
                </li>
            </div>
        </div>
        {{/each}}
    </ul>
{{/if}}

{{#if granter}}
<h3 class="text-white font-weight-bold">Granted Money</h3>
    <ul class="list-unstyled">
        {{#each granter}}
        <div class="card card-stats col-md-6 mb-4 mb-lg-0 mt-3 mb-3">
            <div class="card-body">
                <li class="text-muted heading-small text-sm">
                    Remark: {{remark}}
                    <br/>
                    Amount: <span class="text-danger font-weight-bold">{{amount}}</span>
                    <br/>
                    Requested by: {{requesterName}}
                    <br/>
                    Date: {{date_time}}
                    <br>
                </li>
            </div>
        </div>
        {{/each}}
    </ul>
{{/if}}

{{#if splitDebit}}
<h3 class="text-white font-weight-bold">Amount paid in splits</h3>
    <ul class="list-unstyled">
        {{#each splitDebit}}
        <div class="card card-stats col-md-6 mb-4 mb-lg-0 mt-3 mb-3">
            <div class="card-body">
                <li class="text-muted heading-small text-sm">
                    transactionName: {{transactionName}}
                    <br/>
                    Amount debited: <span class="text-danger font-weight-bold">{{splitAmount}}</span>
                    <br/>
                    Category: {{category}}
                    <br/>
                    Date: {{date_time}}
                    <br>
                </li>
            </div>
        </div>
        {{/each}}
    </ul>
{{/if}}

{{#if splitCredit}}
<h3 class="text-white font-weight-bold">Amount received in splits</h3>
    <ul class="list-unstyled">
        {{#each splitCredit}}
        <div class="card card-stats col-md-6 mb-4 mb-lg-0 mt-3 mb-3">
            <div class="card-body">
                <li class="text-muted heading-small text-sm">
                    transactionName: {{transactionName}}
                    <br/>
                    Amount credited: <span class="text-success font-weight-bold">{{creditedAmount}}</span>
                    <br/>
                    Category: {{category}}
                    <br/>
                    Date: {{date_time}}
                    <br>
                </li>
            </div>
        </div>
        {{/each}}
    </ul>
{{/if}}