<h2>Statement</h2>
<p>grocery: {{budgetInfo.budgetValues.grocery}}</p>
<p>entertainment: {{budgetInfo.budgetValues.entertainment}}</p>
<p>eatingOut: {{budgetInfo.budgetValues.eatingOut}}</p>
<p>bills: {{budgetInfo.budgetValues.bills}}</p>
<p>savings: {{budgetInfo.budgetValues.savings}}</p>
<p>misc: {{budgetInfo.budgetValues.misc}}</p>
<p>transportation: {{budgetInfo.budgetValues.transportation}}</p>
<p>departmentalStore: {{budgetInfo.budgetValues.departmentalStore}}</p>

{{!-- <a href=""> Dashboard </a> --}}